.services{
    padding: 150px 0;
}
.services__row{
    display: flex;
    flex-wrap: wrap;
    padding-top: 66px;
}
.services-item{
    text-align: center;
    background: #F7F7F7;
    padding: 60px 80px;
}
.services-item h3{
    font-family: Oswald;
    font-style: normal;
     font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    margin-top: 30px;
}
.services__row .col-4{
    padding: 15px;
    box-sizing: border-box;
}